<a href="https://colab.research.google.com/github/titiodus/titiodus/blob/master/Copy_of_StageOnedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the important libraries, Reading the data using the url link and Wrangling the data to be better understand the dataset.

In [2]:
# Importing the important libraries needed to analyse and visualize the dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats
# Let's import the dataset using the url link
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
stageone_data = pd.read_csv(url, error_bad_lines=False)
# First Wrangling is reading the dataset
stageone_data.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [3]:
stageone_data.tail()

                     record_id  ...  fuel_cost_per_mmbtu
29518  f1_fuel_2018_12_12_0_13  ...                 9.03
29519   f1_fuel_2018_12_12_1_1  ...                 6.95
29520  f1_fuel_2018_12_12_1_10  ...                 8.99
29521  f1_fuel_2018_12_12_1_13  ...                 1.11
29522  f1_fuel_2018_12_12_1_14  ...                11.68

[5 rows x 11 columns]

In [4]:
# Let us check the dimension, size and datatypes of the dataset
print("The staggeone_data is of ", stageone_data.ndim, " dimensions")

The staggeone_data is of  2  dimensions

In [5]:
print("The stageone_data has", stageone_data.shape[0], "rows.","\nThe stageone_data has ", stageone_data.shape[1], "columns")

The stageone_data has 29523 rows.
The stageone_data has  11 columns

In [6]:
print("Data Types are as shown below :")
print(stageone_data.dtypes)

Data Types are as shown below :
record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [7]:
# Checking if the dataset has null/missing values
stageone_data.isnull().values.any()

True

In [8]:
# Since we have null values, let's check how many
stageone_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [9]:
# 180 null values has to be replaced, so let's see the unique items in the fuel_unit column and their frequencies
stageone_data['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [10]:
# replacing the null values with mcf
stageone_data['fuel_unit'].fillna('mcf', inplace = True)

In [11]:
# are the nulls replaced with mcf?
stageone_data.isnull().values.any()

False

# STATISTICAL DESCRIPTION OF THE DATA

In [12]:
# Now the data is cleaned, let's look at the statistical description of the data set
stageone_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

# DATA VISUALIZATION

In [13]:
stageone_data['report_year'].unique

<bound method Series.unique of 0        1994
1        1994
2        1994
3        1994
4        1994
         ...
29518    2018
29519    2018
29520    2018
29521    2018
29522    2018
Name: report_year, Length: 29523, dtype: int64>

In [14]:
stageone_data['report_year'].drop_duplicates().tolist()

[1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [15]:
#bar chart showing fuel quantity burned per unique year
#plt.figure(figsize=(9, 5))
#stageone_data = pd.DataFrame({'year:[''1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]})

In [16]:
stageone_data.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64