<a href="https://colab.research.google.com/github/titiodus/titiodus/blob/master/stageBquizcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import kurtosis
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

#importing the dataset
df= pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [39]:
#select a sample of the dataset to ensure linearity
simple_linear_reg_df = df[['T2', 'T6']].sample(15, random_state=2)
simple_linear_reg_df.head()

              T2         T6
1117   17.426667  -4.238889
16275  22.760000  14.690000
13272  21.230000   8.926667
3160   21.100000   7.690000
19210  21.856667  10.800000

In [40]:
#dropping columns date and lights
df.drop(['date', 'lights'], axis=1, inplace=True)
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [41]:
#let's normalize our dataset to a common scale using the min max scaler
scaler = MinMaxScaler()
scalerfit = scaler.fit_transform(df)
normalised_df = pd.DataFrame((scalerfit), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target_appliances = normalised_df['Appliances']

In [42]:
#Now, we split our dataset into the training and testing dataset. Recall that we had earlier segmented the features and target variables
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, appliances_target, test_size=0.3, random_state=42)

In [43]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)
#MAE Calculating the Mean Absolute Error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [44]:
#calcualting the Residual Sum of Squares (RSS)
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [45]:
#calculating R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [46]:
#calculating the root mean squared error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [47]:
#comparing the effects of regularization
def get_weights_df(model, feat, col_name): #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name] = weights_df[col_name].round(3)
  return weights_df

In [48]:
#Feature selection and Lasso Regression
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lassopredicted_values = lasso_reg.predict(x_test)

In [49]:
#estimating the RMSE of the lasso regression model with an alpha value of 0.001
lassormse = np.sqrt(mean_squared_error(y_test, lassopredicted_values))
round(lassormse, 3)

0.094

In [53]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2               -0.457        -0.411        -0.000
1         T_out               -0.322        -0.262         0.000
2            T2               -0.236        -0.201         0.000
3            T9               -0.190        -0.189        -0.000
4          RH_8               -0.158        -0.157        -0.000
5        RH_out               -0.078        -0.055        -0.050
6          RH_7               -0.045        -0.046        -0.000
7          RH_9               -0.040        -0.041        -0.000
8            T5               -0.016        -0.020        -0.000
9            T1               -0.003        -0.018         0.000
10          rv1                0.001         0.001        -0.000
11          rv2                0.001         0.001        -0.000
12  Press_mm_hg                0.007         0.007        -0.000
13           T7                0.010         0.010        -0.000
14   Visibility                0.012         0.012         0.000
15         RH_5                0.016         0.016         0.000
16         RH_4                0.026         0.025         0.000
17           T4                0.029         0.027        -0.000
18    Windspeed                0.029         0.030         0.003
19         RH_6                0.038         0.036        -0.000
20         RH_3                0.096         0.095         0.000
21           T8                0.102         0.101         0.000
22    Tdewpoint                0.118         0.083         0.000
23           T6                0.236         0.217         0.000
24           T3                0.291         0.288         0.000
25         RH_1                0.554         0.520         0.018

In [50]:
#Ridge Regressio
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridgepredicted_values = ridge_reg.predict(x_test)

In [51]:
#estimating the RMSE of the lasso regression model with an alpha value of 0.4
ridgermse = np.sqrt(mean_squared_error(y_test, ridgepredicted_values))
round(lassormse, 3)

0.094

In [52]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2               -0.457        -0.411        -0.000
1         T_out               -0.322        -0.262         0.000
2            T2               -0.236        -0.201         0.000
3            T9               -0.190        -0.189        -0.000
4          RH_8               -0.158        -0.157        -0.000
5        RH_out               -0.078        -0.055        -0.050
6          RH_7               -0.045        -0.046        -0.000
7          RH_9               -0.040        -0.041        -0.000
8            T5               -0.016        -0.020        -0.000
9            T1               -0.003        -0.018         0.000
10          rv1                0.001         0.001        -0.000
11          rv2                0.001         0.001        -0.000
12  Press_mm_hg                0.007         0.007        -0.000
13           T7                0.010         0.010        -0.000
14   Visibility                0.012         0.012         0.000
15         RH_5                0.016         0.016         0.000
16         RH_4                0.026         0.025         0.000
17           T4                0.029         0.027        -0.000
18    Windspeed                0.029         0.030         0.003
19         RH_6                0.038         0.036        -0.000
20         RH_3                0.096         0.095         0.000
21           T8                0.102         0.101         0.000
22    Tdewpoint                0.118         0.083         0.000
23           T6                0.236         0.217         0.000
24           T3                0.291         0.288         0.000
25         RH_1                0.554         0.520         0.018