<a href="https://colab.research.google.com/github/titiodus/titiodus/blob/master/stageonequizcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import kurtosis

#Question 1: The answer is A.extend(B)
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A.append(B)
print(A)

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
#Question 2 (answer is np.identity(3))
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
#Question 3 (Answer is Gas has the lowest average of fuel cost per unit burned)
# Let's import the dataset using the url link
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
stageone_data = pd.read_csv(url, error_bad_lines=False)
# First Wrangling is reading the dataset
stageone_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [5]:
#to get the average of the fuel_cost_per unit_burned, let's use a pivot table
stageone_data.pivot_table(index=['fuel_type_code_pudl'], values=['fuel_cost_per_unit_burned'], aggfunc='mean')

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 67.421830
gas                                  13.659397
nuclear                            4955.157002
oil                                 168.877086
other                                18.253856
waste                                19.518122

In [6]:
# Question 4 (answer is 10.60 and 17.01)
stageone_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [7]:
# Question 5 (Answer is 15.85 and 651.37)
stageone_data.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [8]:
fqb = stageone_data['fuel_qty_burned']
kurtosis(fqb)

651.2589365474387

In [9]:
# Question 6 (Feature:fuel_unit,Total:180,Percent:0.610)
stageone_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
print("The stageone_data has", stageone_data.shape[0], "rows.","\nThe stageone_data has ", stageone_data.shape[1], "columns")

The stageone_data has 29523 rows.
The stageone_data has  11 columns

In [12]:
percent_missing_values = (180/29523)*100
print(percent_missing_values)

0.609694136774718

In [ ]:
# Question 7 Categorical and mode imputation

In [21]:
# Question 8
stageone_data.corr(method = 'spearman')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...            -0.017177
report_year                           0.067659  ...             0.378130
fuel_qty_burned                      -0.049794  ...            -0.540417
fuel_mmbtu_per_unit                  -0.095921  ...            -0.280657
fuel_cost_per_unit_burned            -0.074844  ...             0.318533
fuel_cost_per_unit_delivered         -0.068846  ...             0.221548
fuel_cost_per_mmbtu                  -0.017177  ...             1.000000

[7 rows x 7 columns]

In [16]:
# Question 9 to get the fuel_cost_per unit_burned per year, let's use a pivot table
df = stageone_data.pivot_table(index=['report_year'], values=['fuel_cost_per_unit_burned'], aggfunc='sum')
print(df)

             fuel_cost_per_unit_burned
report_year
1994                        263292.115
1995                        425661.488
1996                         86425.275
1997                        163533.452
1998                        140238.656
1999                        126056.285
2000                        326495.434
2001                        180365.641
2002                        121921.135
2003                        149175.726
2004                        184637.699
2005                        135924.139
2006                        188142.032
2007                        256114.312
2008                        314312.022
2009                        263584.566
2010                        331581.467
2011                        374175.603
2012                        321693.544
2013                        306933.236
2014                        518002.469
2015                        260060.984
2016                        255484.814
2017                        244557.823
2018                        221575.426

In [17]:
percent_change = (140235.656 - 263292.115)*100
print(percent_change)

-12305645.9