<a href="https://colab.research.google.com/github/titiodus/titiodus/blob/master/stageonequiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the important libraries needed to analyse and visualize the dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import kurtosis
# Let's import the dataset using the url link
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
stageone_data = pd.read_csv(url, error_bad_lines=False)
# First Wrangling is reading the dataset
stageone_data.describe()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [2]:
stageone_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [5]:
low_fuel_cost_per_unit_burned = stageone_data['fuel_cost_per_unit_burned'].min()
print(low_fuel_cost_per_unit_burned)

-276.08

In [8]:
stageone_data.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [9]:
fqb = stageone_data['fuel_qty_burned']
kurtosis(fqb)

651.2589365474387

In [10]:
stageone_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [12]:
print("The stageone_data has", stageone_data.shape[0], "rows.","\nThe stageone_data has ", stageone_data.shape[1], "columns")

The stageone_data has 29523 rows.
The stageone_data has  11 columns

In [14]:
percentage_missing_rows = (180/29523)*100
print(percentage_missing_rows)

0.609694136774718

In [ ]:
percentage_change_by_year = pd.pivot_table(stageone_data, )

In [ ]:
stageone_data.corvar